<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=NextDataLayer; Integrated Security=SSPI;Connect Timeout=30;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>